.Header{
    list-style: none;
    display: flex;
    li{
        padding: 10px;
    }
}

.ViewContainer{
    overflow-y: auto;
}

/******************/

.PreviewContainer{
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    flex-grow: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Preview{
    position: relative;
}