.FolderContent{
    width: 100%;
    background-color: var(--window-light);
    box-sizing: border-box;
    padding: 10px 10px 10px 50px;
    display: flex;
    flex-direction: column;
    // overflow-y: auto;
}