.LdsRing {
   display: inline-block;
   position: relative;
   width: 54px;
   height: 54px;
   div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 44px;
      height: 44px;
      margin: 6px;
      border: 6px solid #ff2058;
      border-radius: 50%;
      animation: LdsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #ff2058 transparent transparent transparent;
      &:nth-child(1) {
         animation-delay: -0.45s;
      }
      &:nth-child(2) {
         animation-delay: -0.3s;
      }
      &:nth-child(3) {
         animation-delay: -0.15s;
      }
   }
}

@keyframes LdsRing {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/******************************/

.LdsEllips {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
   div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      &:nth-child(1) {
         left: 8px;
         animation: LdsEllips1 0.6s infinite;
      }
      &:nth-child(2) {
         left: 8px;
         animation: LdsEllips2 0.6s infinite;
      }
      &:nth-child(3) {
         left: 32px;
         animation: LdsEllips2 0.6s infinite;
      }
      &:nth-child(4) {
         left: 56px;
         animation: LdsEllips3 0.6s infinite;
      }
   }
}
@keyframes LdsEllips1 {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}
@keyframes LdsEllips3 {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(0);
   }
}
@keyframes LdsEllips2 {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(24px, 0);
   }
}
