
$message-color: #ccc;
$response-color: #a88fb4;
.Message{
   background-color: $message-color;
   color: rgb(40, 22, 73);
   padding: 15px;
   width: auto;
   max-width: 350px;
   border-radius: 10px 10px 10px 0;
   box-sizing: border-box;
   margin:10px 0;
   &.Question{
      cursor: pointer;
      border-radius: 10px 10px 0 10px;
      margin-left:auto;
      border: solid 2px darken($response-color, 25%);
      text-align: right;
      &:hover{
         background-color: $response-color;
      }
   }
   &.QuestionClicked{
      cursor: auto;
      background-color: $response-color;
   }
}