$color:#858C97;

.Folder{
    display: flex;
    flex-direction: column;
    color:$color;
    cursor: pointer;
    .Title{
        color:darken($color, 10%);
    }
}

.SubFolders{
    margin-left: 10px;
}