$color: #858c97;

.Folder {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 2px 5px;
    cursor: pointer;
    .Title {
        color: #fff;
        font-size: 1.1em;
    }
}

a {
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    color: #fff;
    &:hover,
    &:active,
    &.Active > * {
        color: rgb(150, 150, 150)!important;
    }
}

.SubFolders {
    margin-left: 10px;
}
