.FolderStructure{
    background-color: #353944;
    border-right: #2A2C37 solid 1px;
    box-sizing: border-box;
    padding: 10px;
    height:100%;
    width: 250px;
    flex: 0 0 250px;
    position: absolute;
    z-index: 50;
    display: flex;
}

.Close{
    margin-left: -210px;
}



// @media screen and (min-width:'1150px'){
// .FolderStructure{
//     position: relative;
// }
// }