.BuildControls{
    background: #f1f6fc;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-top: solid 2px #ebedf4;
    padding: 25px;
    box-sizing: border-box; 
    margin-top: auto;
}