$width: 80px;
.WallpaperVignette{
   width:$width;
   height:calc(9*#{$width}/16);
   padding: 5px;
   box-sizing: border-box;
   margin: 10px 0;
   background-repeat: no-repeat;
   background-position:center;
   cursor: pointer;
}


@media screen and (min-width:800px){
   $width: 150px;
   .WallpaperVignette{
      width:$width;
      height:calc(9*#{$width}/16);
   }
}