.WallpaperVignette{
   width:150px;
   height:calc(9*150px/16);
   padding: 5px;
   box-sizing: border-box;
   margin: 10px 0;
   background-repeat: no-repeat;
   background-position:center;
   cursor: pointer;
}