body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --notification-bar_height:30px;
  --app-bar_height:60px;
  --core-height: calc(100vh - var(--notification-bar_height) - var(--app-bar_height));

  --background:#00adb5;
  --window: #222831; /*rgba(0,0,0,0.75)*/
  --window-light: #393e46;
  --window-dark:#222831;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-pdf__Page__svg{
  margin: auto;
}