.AppIcon{
   height:60px;
   width:60px;
   color:#fff;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-sizing: border-box;
   &.Big{
      height:150px;
      width:150px;
      flex-direction: column;
      &:hover, &.Active{
         background: rgba(255, 255, 255, 0.15);
      }
   }
   &:hover, &.Active{
      background: var(--window-light);
   }
   &.Open{
      border-bottom: solid 3px var(--window-light);
   }
}

.Title{
   margin-top: 15px;
}