.Desktop{
   width:100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
   background-size:cover;
   background-repeat: no-repeat;
   background-position:center;
   background-attachment: fixed;
   overflow: hidden;
}