.ChatHelper {
   width: 100vw;
   height: 100%;
   box-sizing: border-box;
   background: var(--window);
   backdrop-filter: blur(5px);
   padding: 10px;
   color: #fff;
   position: relative;
   top: 0;
   right: 0;
   z-index: 10;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   h2 {
      text-align: center;
   }
}

@media screen and (min-width: 500px) {
   $width: 500px;
   .ChatHelper {
      width: $width;
      flex-basis: $width;
   }
}

/********************************/
.Scroll {
   overflow-y: auto;
   overflow-x: hidden;
   position: relative;
   height: 100%;
   background-color: #f3f6fb;
}

.Chat {
   padding: 10px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   left: 0;
   right: 0;
   height: 100%;
   position: absolute;
}
