.ChatHelper {
   width: 100vw;
   height: 100%;
   box-sizing: border-box;
   background: rgba(0, 0, 0, 0.75);
   backdrop-filter: blur(5px);
   padding: 10px;
   color: #fff;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 10;
   display: flex;
   flex-direction: column;
   h2 {
      text-align: center;
   }
}

@media screen and (min-width: 500px) {
   $width: 500px;
   .ChatHelper {
      width: $width;
   }
}


/********************************/

.Chat{
   padding: 10px;
   display: flex;
   flex-direction: column;
   background-color: #fff;
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}